<h1 class="mb-4">Thank for your purchase {{user.firstName}}!</h1>
<p>We sent an email to: {{user.email}}</p>
<a href="/home">
    <button class="button">Home</button>
</a>

<link rel="stylesheet" href="/css/purchase.css" type="text/css">