<div>
    <h1>
        Welcome to Pandora's Box 
        <img src="favicon.png" class="box" alt="" srcset="">
    </h1>
</div>
<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <img src="homeplace.jpg"  class="home1" alt="...">
        </div>
        <div class="col"> 
            <h2 class="h2-home">New products monthly</h2>
            <p> 
                Have you heard Taylor Swift's new album Midnights? It's extraordinary and if you subscribe to our website, you'll receive fantastic new music every month. Let's take a look at what's new, shall we? </p>
            <p>
                <a href="/products">
                    <button class="button"> See our products</button>
                </a>
            </p>
        </div>
        <div class="col"> 
            <h2 class="h2-home">Free shipping</h2>
            <p> We love to spoil our customers, that's why with over $10,000 in purchases, we ship them to their homes free of charge.  </p>
            <p>
                <a href="/products">
                    <button class="button"> Let's start shopping</button>
                </a>
            </p>
        </div>
        <div class="col">
            <img src="homeplace2.jpg"  class="home1" alt="...">
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/home.css" type="text/css">