<div id="pyramid-loader">
    <div class="wrapper">
        <span class="side side1"></span>
        <span class="side side2"></span>
        <span class="side side3"></span>
        <span class="side side4"></span>
        <span class="shadow"></span>
    </div>  
</div>

<div>
    <h1>
        Log in
    </h1>
    
    <form id="loginForm">
        <div class="input__container">
            <label class="input__label">Email</label>
            <input placeholder="Enter your email" class="input" name="email">
        </div>
        <div class="input__container">
            <label class="input__label">Password</label>
            <input placeholder="Enter your password" class="input" name="password">
        </div>
        <button class="button type1" type="submit">
            <span class="btn-txt">Log In</span>
        </button>
    </form>
    <button class="button type1" type="submit">
        <a href="/register">Register</a>
    </button>
</div>

<link rel="stylesheet" href="./css/login.css">
<script src="./js/login.js"></script>