
<div>
    <h1>Sign up</h1>
    <form id="registerForm"  >
        <div class="input__container">
            <label class="input__label">Name</label>
            <input placeholder="Enter your name" class="input" name="firstName" required>
            <label class="input__label">Last Name</label>            
            <input placeholder="Enter your last name" class="input" name="lastName" required>
            <label class="input__label">Address</label>
            <input placeholder="Enter your address" class="input" name="direccion" required>
            <label class="input__label">Email</label>
            <input placeholder="Enter your email" class="input" name="email" required>
            <label class="input__label">Password</label>
            <input id="password2" placeholder="Enter your password" class="input" name="password" type="password" required> 
            <i class="fa fa-eye" id="togglePassword2"></i>
            <label class="input__label">Avatar</label>
            <input placeholder="Enter your avatar" class="input" name="avatar" type="file" required>
        </div>
        <button class="button type1" type="submit">
            <span class="btn-txt">Sign up</span>
        </button>
    </form>
</div>

<script type="text/javascript" src="/js/register.js"></script>
<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>